.button-blue {
  background-color: #007ec4;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  border-radius: 12px;
  display: inline-block;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.button-blue:hover {
  opacity: .8
}
